// Third-party
@import "vendor/material.min.css";
@import "vendor/ripples.min.css";
@import "vendor/material-wfont.min.css";
@import "vendor/bootstrap-social.css";
// Modules and variables
@import "partials/_base.scss";

#navcontainer {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navcontainer li {
  display: inline;
}

#tilder-logo {
  margin: 0 0 0 190px;
}

#right-col a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#index-form {
  margin: 150px 0 0 0;
}

#index-url {
  margin: 0 0 0 210px;
}

#left-col {
  float: left;
  margin-left: 137px;
  width: 530px;
}

#right-col {
  width: 530px;
  float: left;
  margin-left: 20px;
  padding: 5px;
}

#summaries {
  width: 700px;
  margin: 0 auto;
}

#navbar {
  background-color: white;
  border-bottom: 4px solid $blue;
}

.navbar-header {
  width: 600px;
}

.read-more {
  float: left;
};
