Django==1.7
Jinja2==2.7.3
MarkupSafe==0.23
PyJWT==0.3.0
Twisted==14.0.2
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
certifi==14.05.14
cffi==0.8.6
characteristic==14.1.0
cryptography==0.6
cssselect==0.9.1
distribute==0.6.24
djangorestframework==2.4.3
gunicorn==19.1.1
ipython==2.3.0
lxml==3.4.0
ndg-httpsclient==0.3.2
oauthlib==0.7.1
psycopg2==2.5.4
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
python-openid==2.2.5
python-social-auth==0.2.1
pyzmq==14.3.1
queuelib==1.2.2
requests==2.4.3
requests-oauthlib==0.4.2
service-identity==14.0.0
six==1.8.0
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.1
