{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block menu %}
  {% if user.is_authenticated %}
  <li>
    <a href="{% url 'summaries' %}" class="btn btn-info">Summaries</a>
  </li>
  <li>
    <div class="btn-group">
      <a href="javascript:void(0)" class="btn btn-info">{{ user.username }}</a>
      <a href="javascript:void(0)" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'auth:logout' %}?next=/">Logout</a></li>
      </ul>
    </div>
  </li>
  {% else %}
  <li>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={% firstof request.path '/' %}" class="btn btn-danger">
      <i class="fa fa-google"></i>Sign in with Google
    </a>
  </li>
  <li>
    <a href="{% url 'social:begin' 'twitter' %}?next={% firstof request.path '/' %}" class="btn btn-info">
      <i class="fa fa-twitter"></i>Sign in with Twitter
    </a>
  </li>
  {% endif %}
  {% endblock %}
  {% block content %}
  <div id="index-form" class="well">
    <img id="tilder-logo" src="{% static 'main/img/Tilder.gif' %}" alt="Tilder-logo">
    {{ url_form.non_field_errors }}
    <form class="form-horizontal" method="post">
    {% csrf_token %}
      <div class="form-group">
        <div id="index-url" class="col-sm-6">
        {{ url_form.url.errors }}
        {{ url_form.url }}
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
