{% extends "base.html" %}
{% load staticfiles %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block menu %}
<ul class="nav navbar-nav navbar-right">
  {% if user.is_authenticated %}
            <li><a href="{% url 'summaries' %}">Summaries</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'auth:logout' %}?next=/">Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li>
              <a href="{% url 'social:begin' 'google-oauth2' %}?next={% firstof request.path '/' %}">
                <i class="fa fa-google"></i> Sign in with Google
              </a>
            </li>
            <li>
              <a href="{% url 'social:begin' 'twitter' %}?next={% firstof request.path '/' %}">
                <i class="fa fa-twitter"></i> Sign in with Twitter
              </a>
            </li>
        {% endif %}
        </ul>
  {% endblock %}
  {% block content %}
  {% if messages %}
  <div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
  <div id="index-form" class="panel panel-default">
    <img id="tilder-logo" src="{% static 'main/img/tilder.png' %}" alt="Tilder logo">
    {{ url_form.non_field_errors }}
    {% if url_form.url.errors %}
    <div class="alert alert-dismissable alert-warning">
    {% for error in url_form.url.errors %}
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{ error }}</p>
    {% endfor %}
    </div>
    {% endif %}
    <form class="form-horizontal" method="post">
    {% csrf_token %}
      <div class="form-group">
        <label for="input-url" class="col-lg-2 control-label"><i class="glyphicon glyphicon-link"></i></label>
        <div id="index-url" class="col-sm-10">
        {{ url_form.url }}
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
