{% extends 'base.html' %}
{% load humanize %}
{% block title %}Summaries{% endblock %}
{% block content %}
<div id="summaries">
  {% if summaries %}
    {% for summary in summaries %}
      <div class="panel panel-default">
        <div class="panel-body">
          <b>{{ summary.title }}</b>
          {% if summary.get_paragraphs_as_list %}
            {% for paragraph in summary.get_paragraphs_as_list|slice:":7" %}
              {{ paragraph }}
            {% endfor %}
          {% endif %}
          <p>last updated <span class="badge">{{ summary.fetch_date|naturaltime|capfirst }}</span></p>
          <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="url" value="{{ summary.url }}" />
            <input type="submit" class="btn btn-flat btn-sm btn-link" value="Read more"/>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>You do not have any summaries yet</p>
  {% endif %}
</div>
{% endblock %}
