{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div id="navbar" class="navbar navbar-default">
<ul id="navcontainer">
  <li id="brand"><a href="{% url 'index' %}"><img src="{% static 'main/img/Tilder-small.gif' %}"></a></li>
  {{ url_form.non_field_errors }}
  <li>
  <form action="/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-4">
      {{ url_form.url.errors }}
      {{url_form.url}}
      </div>
    </div>
  </form>
  </li>
</ul>
</div>
<div class="panel panel-default summary-body">
  <div class="panel-body">
{% if messages %}
<div class="alert alert-dismissable alert-danger">
  <ul class="list-unstyled messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
  </ul>
</div>
{% else %}
    <p><b>{{ title }}</b></p>
    <div id="left-col">
  {% for paragraph in paragraphs %}
    <p>{{ paragraph }}</p>
  {% endfor %}
    </div>
    {% if images %}
    <div id="right-col" class="well">
      <p>images for <a href="{{ url }}">{{ url }}</a></p>
  {% for image in images %}
    <img width="170" height="100" onerror='this.style.display = "none"' src="{{ image }}" />
  {% endfor %}
    </div>
    {% endif %}
{% endif %}
  </div>
</div>
{% endblock %}
