// Media queries
$break-small: 799px;
$summary-break-small: 1233px;

// Font colors
$blue: #67E6EC;
$white: #FFF;

// Brand
$front-background-color: $blue;
$brand-font-color: $white;
$brand-font-size: 26px;

// Base font
$base-font-family: sans-serif;
