{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    {% block viewport %}{% endblock %}
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="A tool to compact web pages and store them for later reading. Just enter a URL and
     Tilder will extract its text and images for you." />
    <title>Tilder &raquo; {% block title %}{% endblock %}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/gif" href="{% static 'main/img/favicon.png' %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" type="text/css">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
    {% block menu %}
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
          <img width="100" height="30" src="{% static 'main/img/tilder.png' %}">
        </a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <form id="navbar-form" class="navbar-left" action="{% url 'index' %}" method="post">
            {% csrf_token %}
              <div class="form-group">
                <div class="col-sm-8">
                {{ url_form.url.errors }}
                {{url_form.url}}
                </div>
              </div>
            </form>
        </form>
        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'summaries' %}">Summaries</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'auth:logout' %}?next=/">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={% firstof request.path '/' %}">
              <i class="fa fa-google"></i> Sign in with Google
            </a>
          </li>
          <li>
            <a href="{% url 'social:begin' 'twitter' %}?next={% firstof request.path '/' %}">
              <i class="fa fa-twitter"></i> Sign in with Twitter
            </a>
          </li>
        {% endif %}
        </ul>
      </div>
    {% endblock %}
  </div>
    {% block content %}{% endblock %}
    <script src="{% static 'main/js/ripples.min.js' %}"></script>
    <script src="{% static 'main/js/material.min.js' %}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
