<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<title>Tilder - {% block title %}{% endblock %}</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
{% block content %}{% endblock %}
<script src="{% static 'main/js/ripples.min.js' %}"></script>
<script src="{% static 'main/js/material.min.js' %}"></script>
</body>
</html>
