// Third-party
@import "vendor/material.min.css";
@import "vendor/ripples.min.css";
@import "vendor/material-wfont.min.css";
@import "vendor/bootstrap-social.css";
// Modules and variables
@import "partials/_base.scss";

.navbar-default {
  box-shadow: 0 5px 5px -3px black;
  background-color: white;
}

.navbar .navbar-nav > li > a {
  color: #4d4d4d;
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
  color: #4d4d4d;
}

.fa-google {
  color: #FF0000;
}

.fa-twitter {
  color: $blue;
}

.navbar .navbar-form .form-control, .navbar .navbar-form .form-control-wrapper .form-control {
  color: black;
  width: 400px;
}

.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover {
  background-color: white;
  color: #4d4d4d;
}

.navbar .navbar-nav .open .dropdown-menu>li>a {
  color: #4d4d4d;
}

.navbar .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #4d4d4d;
}

#navbar-form {
  width: 500px;
  margin-top: 13px;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #4d4d4d;
}

#right-col a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#index-form {
  margin: 230px auto;
  width: 480px;
  border-bottom: 4px solid $blue;
  clear: left;
}

#index-url {
  width: 87%;
}

#left-col {
  float: left;
  margin-left: 137px;
  width: 530px;
  @media screen and (max-width: $summary-break-small) {
    float: none;
    margin: 10px auto;
    width:700px;
  }
}

#right-col {
  width: 530px;
  margin-left: 20px;
  float: left;
  @media screen and (max-width: $summary-break-small) {
    float: none;
    margin: auto;
    width: 700px;
  }
  padding: 5px;
}

#summary {
  margin-top: 80px;
}

#summaries {
  width: 700px;
  margin: 80px auto;
}

.read-more {
  float: left;
};

.glyphicon-link {
  color: #B5E61D;
  font-size: 1.2em;
}

.control-label {
  width: 30px;
  margin: 0 0 0 15px;
}

.alert-warning {
  color: #FFC90E;
}

.control-label {
  float: left;
}

.alert-info {
  width: 200px;
  margin: 70px 0 70px 5px;
  float: left;
  border-top: 4px solid #FFC90E;
}

.summaries-image:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}