// Third-party
@import "vendor/material.min.css";
@import "vendor/ripples.min.css";
@import "vendor/material-wfont.min.css";
// Modules and variables
@import "partials/_base.scss";

#brand {
  color: $brand-font-color;
  font-size: $brand-font-size;
}

.well {
  margin: 200px auto;
  width: 60%;
}

#front {
  background-color: $front-background-color;
}

#left-col {
  float: left;
  width: 600px;
}

#right-col {
  width: 530px;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  float: right;
  border-left: 2px dashed $front-background-color;
}
